
/** 
Para utilizar as fontes do bootStrap
font-family: 'OpenSans';
 'OpenSans-Light';
*/
@font-face{
font-family: 'OpenSans-Light';
src: url ("../fontes/OpenSans-Regular.ttf");
font-size: 1em;
}
@font-face{
font-family: 'OpenSans';
src: url ("../fontes/OpenSans-Light.ttf");
font-size: 1em;
}

/* body, html e o div.wrap 
faz a função de evitar o rolagem para direita e dando a 
dimesão que desejo para a pagina na vertical .*/
body, html {height:100%;}

div.wrap {
height: 180%; 
overflow:hidden;
}


/* body H1 é para colocar na posição desejada.*/
body h1{
position: relative;
left: 50px;
}

/* Da forma e posicionar um label que avisa que onde baixar arquivos 
de templates em PNG.*/
body #label{
position: relative;
left: 53px;
height: 20px;
width: 13%;
background: #34495e;
color: aliceblue;
}

/* Dando posição, forma e cor a um paragrafo onde o usuario poderá clicar
e assim ser direcionado para pagina e baixar seus templates. Um Link*/
body .p{
position: relative;
left: 236px;
top: -26px;
color: #1353ca;
}

/*Costumizar meu h2 Posicionando no melhor local da página, 
ou seja no local onde eu desejo coloca-lo.*/
header .head h2 {
position: relative;
top: 400px;
left: 11px;
}

/*Costumizar meu h3 Posicionando no melhor local da página, 
ou seja no local onde eu desejo coloca-lo.*/
header .head h3{
position: relative;
top: 385px;
left: 11px;
width: 202%;
}

/*Criei uma div no html com esté campo para conter 
outras divs e frames*/
header #example-content { 
position: relative;
top: -140px; 
left: 26px;
}

/* Ultizado para posicionar o frame da tela de 
arraste e solta. Drag end Drop*/
header #frame { 
background-color: #95a5a6; 
color: #fff; 
margin: -18px; 
width: 318px; 
height: 410px; 
padding: 30px;
}

/*Onde fica exatamente centralizada o Dran end Drop, 
assim eu conseguir mudar cor, tamanho e posição. */
header  #image-area { 
width: 100%; 
border: 5px dotted #fff; 
padding-top: 90%; 
padding-bottom: 15%; 
margin-bottom: 15px; 
overflow:hidden; 
}

/*Aqui foi baseado no trabalho de signos, para assim que o usario veja a imagem,
ele saberá que aquele campo é para arrastar e soltar. Posicionei bem ao centro 
do campo Drag end Drop e assim ele saberá que vai pegar a imagem arrasttar até ali.*/
header  #icon{
position: relative;
left: 90px;
top: -160px;
}

/*Para colocar a mensagem no local certo, pelo fato de: Se o usuario não conhecer de signos,
e quando falo de signos estou falando de imagens visuais que usamos em aplicações para fazer 
que o usuario associe a imagem a algo que lembre, e saiba que aquele campo é para fazer tal 
operação. Porém temos que entender que nosso usuario não saiba do que se trata, então criei
uma mensagem: ARRASTE E SOLTE, assim ficará mais seguro.*/
header #arraste{
position: relative;
left: 2px;
top: -130px;
}

/* Posicionar e dimessionar o campo onde eu irei colar o arquivo que 
irei copiar da planilha excel, de onde vem os participantes do evento.*/
header form #txt{
position: relative;
width: 712px;
height: 362px;
}


/*Costumizar meu h4 Posicionando no melhor local da página, 
ou seja no local onde eu desejo coloca-lo.*/
header .head h4 {
position: relative;
top: 130px;
left: 11px;
font-size: 30px;
}


/*Para dar cor ao butão e posiciona-lo no local correto*/
header .head #btnBaixar {
position: relative;
top: 125px;
left: 11px;
height: 30px;
width: 55%;
background: #34495e;
color: aliceblue;
}

/*Para deixar nossa pagina organizar e centralizada, tudo certinho.*/
header {
width: 28%;
height: 283px;
background-color: #ffffff;
position: relative;
top: -4px;
left: 45px;
}

/*Para fazer formatação da tela*/
header form{
    position: relative;
    top: 100px;
    left: 265px;
    margin-top: -100px;
    margin-left: -250px;
    width: 720px;
    height: 370px;
    border: 4px dashed rgb(128, 61, 61);
}    